#map svg {
  margin-top: -24px;
}

.state {
  fill:#fafafa;
  stroke:#999;
  stroke-width:0.75;
  stroke-opacity:1;
}

#citydata {
    position: absolute;
    width: 190px;
    height: auto;
    padding: 10px;
    background-color: #f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#citydata.hidden {
    display: none;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

#city-name {
  font-family: 'Armata', sans-serif;
}