@import url(http://fonts.googleapis.com/css?family=Armata);

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Armata', sans-serif;
}

a {
  text-decoration: none;
  color: #386a6e;
}

a:hover {color:#000;}

#container {
  width: 960px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

nav {
  margin: 10px 0;
  h3 {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    a {
      color: #000;
    }
  }
  h5 {
    margin: 0;
  }
  .site {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-top: 4px;
      padding-right: 20px;
      font-size: 0.9em;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.nav-bar {
  height: 1px;
  background-color: #F2F2F2;
  margin-top: 10px;
}

.creators {
  width: 100%;
  text-align: right;
  p {
    font-size: 0.7em;
  }
}

.button_field {
  width: 100%;
  text-align: center;
}

button {
  font-family: 'Armata', sans-serif;
  font-size: 1em;
  color: #fff !important;
  border-radius: 5px;
  word-spacing: 0.25em;
  text-transform: uppercase;
  border: none;
  line-height: 12px;
  padding: 12px 13px 11px;
  text-align: center;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 12px;
  text-decoration: none;
  background: #999;
  &:hover {
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
    -webkit-box-shadow:inset 0 10px 20px rgba(255,255,255, 0.10);
    -moz-box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
    box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
  }
  &:hover {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
  }
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

.selected-button {
  cursor: default;
  background-color: #333333;
}

#about {
    font-size: 3em;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #76cc1e;
}

#count {
  font-size: 1em;
  font-weight: 600;
  color: #76cc1e;
}

#coders a { color: #76cc1e; }
