<div class="overfund_desc">Dozens of projects are successfully funded every week, ranging from just reaching funding goal to exceeding expectation marvelously. This chart shows which sub-category perform the best on Kickstarter, where the number represents the average percentage projects get funded (100% equals funding goal).</div>
<div id="overfunding"></div>
