<div class="overfund_desc">Dozens of projects are successfully funded every week, ranging from just reaching their funding goal to exceeding expectations marvelously. This chart shows which sub-category performs the best on Kickstarter. The number represents the average percentage of the projects in that category exceeded by their 100% funding goal.</div>
<div id="overfunding"></div>
