<div class="button_field">
  <button id="projectscategories">Sort by Projects</button>
  <button id="fundingcategories">Sort by Funding</button>
</div>
<div id="category"></div>

<div id="breakdown">
  <div id="cat-info">
    <h3>Which category is most popular?</h3>
    <h1><span id="cat-title">&nbsp;</span></h1>
    <h1><span id="">Project Breakdown</span></h1>
    <h2><span id="">By Category</span></h2>
  </div>
  <div id="sub-cat">
  </div>
</div>
