<div class="button_field">
  <button id="projectscategories">Sort by Projects</button>
  <button id="fundingcategories">Sort by Funding</button>
</div>
<div id="category"></div>

<div id="breakdown">
  <div id="cat-info">
    <h1><span id="">Kickstarter</span></h1>
    <h2><span id="">Project</span></h2>
    <h1><span id="">Breakdown</span></h1>
    <h2><span id="">By Category</span></h2>
    <h1><span id="cat-title"></span></h1>
  </div>
  <div id="sub-cat"></div>
</div>
