<nav>
  <h3>Project Name Goes Here</h3>
  <h5>A message goes here describing our project in one sentence</h5>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li>By City</li>
    <li><%= link_to "By Category", category_path %></li>
    <li>Exceeding Expectation</li>
  </ul>
</nav>